{deps, [
    {elli, "", {git, "git://git@github.com/knutin/elli.git"}},
    {jiffy, "", {git, "git://git@github.com/davisp/jiffy.git"}},
    {jsonpath, "", {git, "git://git@github.com/GeneStevens/jsonpath.git"}},
    {lager, "", {git, "git://git@github.com/basho/lager.git"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
